.close-button,
.cancel-button,
.edit-button,
.done-button {
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	background: none;
	border: none;
	color: inherit;
	font-size: var(--bigger-font-size);
	cursor: pointer;
}

.close-button::before,
.cancel-button::before,
.edit-button::before,
.done-button::before {
	display: block;
	font-size: inherit;
}

.close-button::before,
.cancel-button::before {
	content: '×';
}

.edit-button::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 240 240"><path d="M184 20a10 10 0 0 0-7 3l-20 20-14 14L30 170v40h40L217 63a10 10 0 0 0 0-14l-26-26A10 10 0 0 0 184 20zm0 24 12 12-13 13-12-12 13-13zm-27 27 12 12L62 190H50v-12L157 71"/></svg>');
}

.done-button::before {
	content: '✓';
}


.close-button-on-top-right {
	position: relative;
}

.close-button-on-top-right > .close-button {
	position: absolute;
	top: 0; right: 0;
}
