:root {
	--small-font-size:   0.75em;
	--smaller-font-size: 0.9em;
	--bigger-font-size:  1.25em;
	--big-font-size:     1.5em;
}

.error {
    color: var(--error-text-color);
}

.unsafe {
	color: var(--unsafe-text-color);
}

[hidden] {
	display: none !important;
}

.small {
	font-size: var(--small-font-size);
}

.big {
	font-size: var(--big-font-size);
}

.notice {
	font-size: var(--small-font-size);
	color: var(--notice-color);
}

.no-border {
	outline: none;
	border: none;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}


.question-in-circle {
	display: inline-block;
	width: 1em;
	height: 1em;
	text-align: center;
	line-height: 1em;
	margin: 0.1em;
	
	border: 1px solid var(--text-color);
	border-radius: 50%;
	
	cursor: help;
}

.question-in-circle::before {
	display: block;
	content: '?';
}


.popup {
	position: absolute;
	z-index: 1;
	top: 0; bottom: 0; left: 0; right: 0;
	
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup > .close-button {
	font-size: 2em;
}

.popup > .popup-content {
	max-width: 90%;
	max-height: 90%;
}

