header {
	position: sticky;
	top: 0;
	z-index: 1;
}

header a, header a:hover {
	color: inherit;
	text-decoration: none;
}


#header-content {
	display: flex;
	justify-content: space-between;
	
	background-color: var(--light-color);
	color: var(--text-color-on-background);
	
	font-size: 1.25em;
}


.header-logo {
	display: flex;

	font-size: 1.8em;
	padding: 0.24em 0.5em 0.3em 0.5em;

	cursor: pointer;
}

.header-nav {
	display: flex;
	justify-content: flex-end;
}

.header-nav > .menu-item {
	transition: all 0.25s;
}

.header-nav > .menu-item:hover {
	background-color: var(--dark-color);
}

.header-burger {
	display: none;
}


@media (max-width: 767px) {
	.header-nav {
		display: none;
		
		position: fixed;
		top: 3.8rem; bottom: 0; left: 0; right: 0;
		
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		background-color: var(--dark-color);
		font-size: 1.25em;
		text-transform: uppercase;
	}
	
	.header-nav.active {
		display: flex;
	}

	.header-burger {
		width: 1.75em;
		height: 1.75em;
		padding: 0.65em 1em;
		
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		
		cursor: pointer;
	}
	
	.header-burger::before,
	.header-burger::after,
	.header-burger span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--text-color-on-background);
	}
}
