<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(~{::title},~{::link},~{})}">
	<title th:text="|${user.username} - #{user.profile.delete}|"></title>
	<link rel="stylesheet" th:href="@{/style/user/delete.css}">
</head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<form class="centered-form" th:method="delete" th:action="@{/user}">
			<p th:text="#{user.profile.delete.confirm}"></p>

			<div class="submit-delete">
				<input type="submit" th:value="#{user.profile.delete.submit}">
				<input type="button" th:value="#{user.profile.delete.cancel}"
				       onclick="window.history.go(-1)">
			</div>
		</form>
	</main>
</body>
</html>
