<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(~{::title},~{},~{::script})}">
	<title th:text="|${user.username} - #{user.profile.title}|"></title>
	<script defer th:src="@{/script/picture-upload.js}"></script>
</head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<form class="centered-form" th:method="patch"
		      th:action="@{/user}" th:object="${user}" enctype="multipart/form-data">

			<h3 th:text="#{user.profile.title}"></h3>

			<div th:replace="~{fragments/form :: uploadable-large-picture(@{ /users/{id}/picture (id=*{id}) })}"></div>

			<div th:replace="~{fragments/form :: username-input}"></div>

			<div th:text="#{user.profile.role(*{role?.name})}"></div>

			<div th:replace="~{fragments/form :: save}"></div>

			<div th:replace="~{fragments/form :: all-errors}"></div>

			<a th:href="@{/user/new-password}" th:text="#{user.profile.newPassword}"></a>
			<a th:href="@{/user/delete}" th:text="#{user.profile.delete}"></a>
		</form>
	</main>
</body>
</html>