<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(_,~{},~{})}"></head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<form class="centered-form" th:method="post" th:action="@{/authentication}" th:object="${user}">
			<h3 th:text="#{login.title}"></h3>

			<div th:replace="~{fragments/form :: username-input}"></div>
			<div th:replace="~{fragments/form :: password-input}"></div>

			<div th:replace="~{fragments/form :: submit}"></div>

			<div th:if="${param.keySet().contains('error')}" class="error small"
			     th:text="#{error.login.incorrectLoginOrPassword}"></div>

			<p class="small">
				[[#{login.yetNotRegistered}]]
				<a th:href="@{/register}" th:text="#{login.register}"></a>
			</p>
		</form>
	</main>
</body>
</html>