<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head(~{::title},~{},~{})}">
	<title th:text="${user.username + ' - Новый пароль'}">USERNAME - Новый пароль</title>
</head>
<body>
	<header th:replace="~{base :: header}"></header>

	<main>
		<form class="centered-form" th:method="patch" th:action="@{/user/new-password}" th:object="${user}">
			<h3>Профиль:</h3>

			<input th:field="*{password}" th:errorclass="error"
			       type="password" placeholder="Новый пароль">

			<input th:field="*{repeatedPassword}" th:errorclass="error"
			       type="password" placeholder="Повторите пароль">

			<input type="submit" value="Сохранить">

			<a href="/user/edit">Назад</a>
		</form>
	</main>
</body>
</html>
