<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(_,~{},~{})}"></head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<form class="centered-form" th:method="post" th:action="@{/register}" th:object="${user}">
			<h3 th:text="#{register.title}"></h3>

			<div th:replace="~{fragments/form :: username-input}"></div>
			<div th:replace="~{fragments/form :: password-input}"></div>
			<div th:replace="~{fragments/form :: repeated-password-input}"></div>

			<div th:replace="~{fragments/form :: submit}"></div>

			<div th:replace="~{fragments/form :: all-errors}"></div>

			<p class="small">
				[[#{register.alreadyHaveAccount}]]
				<a th:href="@{/login}" th:text="#{register.login}"></a>
			</p>
		</form>
	</main>
</body>
</html>