<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(~{::title},~{},~{})}">
	<title th:text="#{users.profile.of(user.username)}"></title>
</head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main th:object="${user}">
		<div th:unless="*{deleted}" class="centered-form">
			<h3 th:text="#{user.profile.title}"></h3>
			<div th:replace="~{ fragments/form :: large-picture(@{ /users/{id}/picture (id=*{id}) })}"></div>
			<span th:text="|${user.username}, ${user.role.name}|"></span>
		</div>

		<div th:if="*{deleted}" class="centered-form" th:text="#{users.profile.deleted}"></div>
	</main>
</body>
</html>