main {
	margin: 0;
	
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}


#sidebar {
	display: flex;
	flex-flow: column nowrap;
}

.sidebar-chat-link {
	display: block;
	padding: 1.5em;
}


#chat {
	border: 1px solid var(--border-color);
	flex-grow: 1;
	
	display: flex;
	flex-flow: column nowrap;
}


#chat-header {
	border-bottom: 1px solid var(--border-color);
	padding: 1.5em;
}

.chat-title {
	margin: 0;
}

.chat-description {
	margin: 1em;
	margin-bottom: 0;
}


#chat-content {
	padding: 1em;
	flex-grow: 1;
	
	display: flex;
	flex-flow: column nowrap;
}

#chat-content:empty {
	align-items: center;
	justify-content: center;
}

#chat-content:empty::before {
	content: 'Нет сообщений';
	font-style: italic;
}


.message {
	background-color: var(--message-background-color);
	color: var(--message-text-color);
	
	margin: 0.25em;
	padding: 1em;
	border-radius: 1em;
	
	align-self: flex-start;
}

.message-author {
	padding-bottom: 0.5em;
	
	color: var(--user-text-color);
	font-weight: bold;
}

































