<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(~{::title},~{},~{})}">
	<title th:text="${httpStatus != null} ? #{httpError.error(httpStatus.value)} : #{httpError.unknown}"></title>
</head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<div class="centered-form">
			<h2 th:if="httpStatus != null" th:text="|${httpStatus.value} ${httpStatus.reasonPhrase}|"></h2>
			<h2 th:if="httpStatus == null" th:text="#{httpError.unknown}"></h2>

			<p th:if="${messageKey != null}" th:utext="#{__${messageKey}__}"></p>

			<a th:href="@{/}" th:text="#{httpError.toMainPage}"></a>
		</div>
	</main>
</body>
</html>
