#message-contextmenu-overlay {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 2;
	background: transparent;
}

#message-contextmenu {
	position: fixed;
	z-index: 3;
	
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-flow: column nowrap;
	
	background-color: var(--background-color);
	color: var(--text-color);
	border: 1px solid var(--border-color);
}

#message-contextmenu > li {
	font-size: var(--small-font-size);
	padding: 0.5em 1em;
	list-style-type: none;
	cursor: pointer;
}

#message-contextmenu > li:hover {
	background-color: var(--dark-color);
	color: var(--text-color-on-background);
}
