<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="${user.name} + ' - JMessenger'">Username - JMessenger</title>
	
	<link rel="stylesheet" href="/style/common-style.css">
	<link rel="stylesheet" href="/style/user.css">
	
	<script src="/script/jquery-3.6.0.min.js"></script>
	<script src="/script/user.js"></script>
</head>
<body>
	<a href="#C"></a>
	<div id="main">
		<h2>Профиль:</h2>
		<div id="profile">
			<div>Имя: <input id="username" type="text" th:value="${user.name}" value="Username" readonly></div>
			
			<div>
				<button action="edit-profile">Редактировать профиль</button>
				<button action="save-profile" hidden>Сохранить</button>
				<p class="status"></p>
			</div>
		</div>
	</div>
</body>
</html>
