<div xmlns:th="http://thymeleaf.org" th:object="${chat}"
     class="text-data" hx-target="this" hx-swap="outerHTML">

	<div th:replace="~{fragments/form :: form-input(
			fieldname = 'title',
			type = 'text',
			placeholder = #{form.chat.title},
			autofocus = true
	)}"></div>

	<button class="done-button" th:hx-patch="@{ /chats/{id}/title (id=*{id}) }"
	        hx-include="previous [name=title]" hx-encoding="multipart/form-data"
	        hx-trigger="click, keydown[key == 'Enter'] from:previous [name=title]"></button>

	<button class="cancel-button" th:hx-get="@{ /chats/{id}/title (id=*{id}) }"
	        hx-trigger="click, keydown[key == 'Escape'] from:previous [name=title]"></button>

	<div th:replace="~{fragments/form :: all-errors}"></div>
</div>