<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/base :: head(~{::title},~{},~{::script})}">
	<title th:text="#{chat.new}"></title>
	<script defer th:src="@{/script/picture-upload.js}"></script>
</head>
<body>
	<header th:replace="~{fragments/base :: header}"></header>

	<main>
		<form class="centered-form" enctype="multipart/form-data"
		      th:method="post" th:action="@{/chats/new}" th:object="${chat}">

			<h3 th:text="#{chat.new}"></h3>

			<div th:replace="~{fragments/form :: uploadable-large-picture(@{ /image/default-picture/chat.svg })}"></div>

			<div th:replace="~{fragments/form :: form-input('title', 'text', #{form.chat.title})}"></div>
			<div th:replace="~{fragments/form :: form-textarea('description', #{form.chat.description})}"></div>

			<fieldset>
				<legend th:text="#{chat.access}"></legend>
				<label>
					<input type="radio" th:field="*{access}" th:errorclass="error" value="PUBLIC" checked>
					[[#{chat.access.public}]]
				</label>
				<span class="question-in-circle" th:title="#{chat.access.public.tooltip}"></span>
				<br>

				<label>
					<input type="radio" th:field="*{access}" th:errorclass="error" value="PROTECTED">
					[[#{chat.access.protected}]]
				</label>
				<span class="question-in-circle" th:title="#{chat.access.protected.tooltip}"></span>
			</fieldset>

			<input type="submit" th:value="#{chat.new}">

			<div th:replace="~{fragments/form :: all-errors}"></div>
		</form>
	</main>
</body>
</html>